<div class="container">
    <h1>Penalties <small>{{ filters }}</small></h1>
    <fieldset>
        <legend>Filter</legend>

        <form role="form" ng-submit="applyFilter()">
          <label for="filterByText" class="sr-only">Filter query</label>
          <div class="input-group">
            <input class="form-control" type="text" id="filterByText" ng-model="textFilter" placeholder="filter:" />
            <span class="input-group-btn">
              <button class="btn btn-primary">Filter</button>
            </span>
          </div>
    </fieldset>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Player IP</th>
            <th>Type</th>
            <th>Reason</th>
            <th>Submitted</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{info: penalty.isNew}" ng-repeat="penalty in penalties">
                <td><a href="#/penalties/{{penalty.id}}">{{ penalty.player_name }}</a></td>
                <td>{{ penalty.player_ip }}</td>
                <td>{{ penalty.type | penaltyType }}</td>
                <td>{{ penalty.reason | penaltyReason:penaltyReasons }}</td>
                <td>{{ penalty.submitted | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>