<div class="container" ng-if="loaded">
    <h1>Penalty #{{ penalty.id }} <small>Type: {{penalty.type | penaltyType}}</small></h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Player ID</th>
                        <td>{{ penalty.player_id }}</td>
                    </tr>
                    <tr>
                        <th>Player Name</th>
                        <td>{{ penalty.player_name }}</td>
                    </tr>
                    <tr>
                        <th>Player IP</th>
                        <td>{{ penalty.player_ip }}</td>
                    </tr>
                    <tr ng-if="penalty.type == '3'">
                        <th>Duration</th>
                        <td>{{ penalty.duration | penaltyDuration }}</td>
                    </tr>
                    <tr>
                        <th>Submitted</th>
                        <td>{{ penalty.submitted }}</td>
                    </tr>
                    <tr>
                        <th>Reason</th>
                        <td>{{ penalty.reason | penaltyReason:penaltyReasons }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>