<div class="container">
    <h1>Penalties <small>{{ filters }}</small></h1>
    <fieldset>
        <legend>Filter</legend>

        <form class="form-inline" role="form" ng-submit="applyFilter()">
            <div class="form-group">
                <label class="control-label" for="filterByGame">by game: </label>
                <select class="form-control" ng-model="gameFilter" id="filterByGame" ng-options="game for game in games">
                    <option value="">---select game---</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="filterByServer">by server: </label>
                <select class="form-control" ng-model="serverFilter" id="filterByServer" ng-options="server.server_ident as server.name for server in servers">
                    <option value="">---select server---</option>
                </select>
            </div>
            <div class="form-group">
                <label for="filterByText">by text: </label>
                <input class="form-control" type="text" id="filterByText" ng-model="textFilter" placeholder="ID/Name/IP/Comments" />
            </div>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </form>
    </fieldset>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Player IP</th>
            <th>Type</th>
            <th>Reason</th>
            <th>Submitted</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{info: penalty.isNew}" ng-repeat="penalty in penalties">
                <td><a href="#/penalties/{{penalty.id}}">{{ penalty.player_name }}</a></td>
                <td>{{ penalty.player_ip }}</td>
                <td>{{ penalty.type | penaltyType }}</td>
                <td>{{ penalty.reason | penaltyReason:penaltyReasons }}</td>
                <td>{{ penalty.submitted | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>