<div class="row">
    <div class="col-sm-1">
        <div class="event-feed-icon" style="background-color:#F39C12;"></div>
    </div>
    <div class="col-sm-8">
        <p>
            <span class="label label-info" ng-show="event.isNew">New</span> <b><a ng-href="#/players/{{event.player.id}}">{{ event.player.latest_username }}</a></b> on <b>{{ event.server.name }}</b><br/>
            Player was <b>kicked</b> from the server for reason:<br/>
            {{ event.data.reason }}
        </p>
    </div>
    <div class="col-sm-3">
        <p class="pull-right">{{ event.submitted }}</p>
    </div>
</div>
