<div class="container">
    <h1>Event stream</h1>
    <form role="form" ng-submit="filter()">
      <label for="filterByText" class="sr-only">Filter query</label>
      <div class="input-group">
        <input class="form-control" type="text" id="filterByText" ng-model="filters" placeholder="filter:" />
        <span class="input-group-btn">
          <button class="btn btn-primary">Filter</button>
        </span>
      </div>
    </form>
    <hr/>
    <table class="table events">
        <tr ng-repeat="event in events" ng-show="event.loaded" class="event-feed-item" ng-include="event.templateUrl">
        </tr>
    </table>
</div>